[build-system]
requires = [
    "maturin>=0.13,<0.14",
]
build-backend = "maturin"

[tool.maturin]
python-source = "python"

[project]
name = "streamtracer"
description = "Python library to calculate streamlines"
readme = { file = "README.md", content-type = "text/x-markdown" }
requires-python = ">=3.10"
license = {text = "GPL v3"}
authors = [
  {name = "The SunPy Developers", email="sunpy@googlegroups.com"},
  {name = "David Stansby"},
  {name = "Lars Mejnertsen"}
]
classifiers = [
  "Programming Language :: Python :: 3",
]
version = "2.1.0.rc1"
dependencies = [
  "numpy>=1.23",
  "packaging>=21.3",
]

[project.urls]
homepage = "https://streamtracer.readthedocs.io/en/stable/"
documentation = "https://streamtracer.readthedocs.io/en/stable/"
repository = "https://github.com/sunpy/streamtracer"

[project.optional-dependencies]
tests = [
  "pytest",
  "pytest-doctestplus",
  "pytest-cov",
  "pytest-xdist",
]
docs = [
  "sphinx",
  "sphinx-automodapi",
  "jupyter-sphinx",
  "sunpy-sphinx-theme",
]

[tool.cibuildwheel]
before-build = "rustup show"
environment = {"PATH" = "$PATH:$HOME/.cargo/bin"}

[tool.cibuildwheel.linux]
before-all = "curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain stable -y"

[tool.cibuildwheel.macos]
before-all = "rustup target add aarch64-apple-darwin"
