# Main CI Workflow
name: CI

on:
  push:
    branches:
      - 'main'
      - '*.*'
      - '!*backport*'
    tags:
      - 'v*'
      - '!*dev*'
      - '!*pre*'
      - '!*post*'
  pull_request:
  # Allow manual runs through the web UI
  workflow_dispatch:
  schedule:
    #        ┌───────── minute (0 - 59)
    #        │ ┌───────── hour (0 - 23)
    #        │ │ ┌───────── day of the month (1 - 31)
    #        │ │ │ ┌───────── month (1 - 12 or JAN-DEC)
    #        │ │ │ │ ┌───────── day of the week (0 - 6 or SUN-SAT)
    - cron: '0 7 * * 3'  # Every Wed at 07:00 UTC

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  rust:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: hecrj/setup-rust-action@v2
      - run: cargo test

  core:
    needs: [rust]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v2
    with:
      submodules: false
      coverage: codecov
      toxdeps: tox-pypi-filter
      envs: |
        - linux: py314
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  sdist_verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - run: python -m pip install -U --user build
      - run: python -m build . --sdist
      - run: python -m pip install -U --user twine
      - run: python -m twine check dist/*

  test:
    needs: [core, sdist_verify, rust]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v2
    with:
      submodules: false
      coverage: codecov
      toxdeps: tox-pypi-filter
      envs: |
        - windows: py311
        - macos: py312
        - linux: py310-oldestdeps
        - linux: py312
          runs-on: ubuntu-24.04-arm
        - linux: py313-devdeps
        - linux: py313
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  docs:
    needs: [core]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v2
    with:
      default_python: '3.13'
      submodules: false
      pytest: false
      toxdeps: tox-pypi-filter
      libraries: |
        apt:
          - graphviz
      envs: |
        - linux: build_docs

  publish:
    # Build wheels on PRs only when labelled. Releases will only be published if tagged ^v.*
    # see https://github-actions-workflows.openastronomy.org/en/latest/publish.html#upload-to-pypi
    if: |
      github.event_name != 'pull_request' ||
      (
        github.event_name == 'pull_request' &&
        contains(github.event.pull_request.labels.*.name, 'Run publish')
      )
    needs: [test, docs]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish.yml@v2
    with:
      sdist: true
      test_extras: 'tests'
      test_command: 'pytest -p no:warnings --doctest-rst --pyargs streamtracer'
      submodules: false
      targets: |
        - cp3{10,11,12,13,14}-manylinux_x86_64
        - cp3{10,11,12,13,14}-musllinux_x86_64
        - cp3{10,11,12,13,14}-macosx_x86_64
        - cp3{10,11,12,13,14}-macosx_arm64
        - cp3{10,11,12,13,14}-win_amd64
        - target: cp3{10,11,12,13,14}-manylinux_aarch64
          runs-on: ubuntu-24.04-arm
    secrets:
      pypi_token: ${{ secrets.pypi_token }}

  notify:
    if: always() && (github.event_name == 'schedule' || github.event_name == 'workflow_dispatch')
    needs: [publish]
    runs-on: ubuntu-latest
    steps:
      - uses: Cadair/matrix-notify-action@main
        with:
          matrix_token: ${{ secrets.matrix_access_token }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          homeserver: ${{ secrets.matrix_homeserver }}
          roomid: '!jfEXWJFdXwYnBWsiqk:openastronomy.org'
          ignore_pattern: '.*Load.*'
          summarise_success: true
          workflow_description: 'in sunpy/streamtracer'
