name: Build wheels

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CIBW_BUILD: cp37-* cp38-* cp39-*
  # Upgrade numpy to make sure the binary is compatible with latest version
  # See https://github.com/numpy/numpy/issues/5888 for more info
  CIBW_BEFORE_TEST: pip install pytest numpy --upgrade
  CIBW_TEST_COMMAND: pytest {package}
  CIBW_BUILD_VERBOSITY_LINUX: 3

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, macos-10.15, windows-2019]

    steps:
      - uses: actions/checkout@v2

      - name: Install fortran
        if: runner.os == 'Linux'
        run: |
            sudo apt update
            sudo apt install -y gfortran
      - name: Install fortran
        if: runner.os == 'macOS'
        run: |
            brew install gcc
            brew link gcc
            ln -s /usr/local/bin/gfortran-10 /usr/local/bin/gfortran

      - name: Build wheels
        uses: joerick/cibuildwheel@v1.12.0
        # to supply options, put them in 'env', like:
        # env:
        #   CIBW_SOME_OPTION: value

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl
